<div class="sidebar">

  <!-- LOGO Y NOMBRE -->
  <div class="sidebar-header">
    <img src="assets/img/logo.png" alt="Logo" />
    <h2>JP Ambiental</h2>
  </div>

  <!-- MENÚ -->
  <ul class="menu">
    <li><a routerLink="/dashboard/mapa" routerLinkActive="active">Mapa</a></li>
    <li><a routerLink="/dashboard/rutas" routerLinkActive="active">Rutas</a></li>
    <li><a routerLink="/dashboard/vehiculos" routerLinkActive="active">Vehículos</a></li>
    <li><a routerLink="/dashboard/notificaciones" routerLinkActive="active">Notificaciones</a></li>
    <li><a routerLink="/dashboard/usuarios" routerLinkActive="active">Usuarios</a></li>
  </ul>

</div>

